PORT=3000
NODE_ENV=production
JWT_SECRET=ChangeThisToYourSuperSecretKey2026
ADMIN_PASSWORD=strongadminpassword
ADMIN_JWT_SECRET=ChangeThisToAdminSecretKey2026

# PostgreSQL Connection String
DATABASE_URL=postgres://user:password@localhost:5432/cat_db
